<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
</head>
<body>
    <p><b>cell_classification</b></p>
    <p>울산과학고등학교 Adagio와 CELL이 공동 개발한 세포 분류 웹사이트입니다.</p>
    <p>아래 본인의 이름을 작성해주세요.</p>

    <form action="/" method="POST">
        <input type="text" name="ans">
        <button type="submit">send</button>
    </form>
</body>
</html>